* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Arial;
}

body {
  background: linear-gradient(135deg, #020617, #0f172a);
  color: white;
  scroll-behavior: smooth;
}

section {
  padding: 80px 10%;
}